extends layout

block content
  h1= title

  form(method="POST" action="")
    p
      label(for="book") Book:
      select(id="book" name="book")
        for book in books
          if bookinstance
            option(value=book._id selected=(bookinstance.book.toString()===book._id.toString() ? true : false)) #{book.title}
          else
            option(value=book._id) #{book.title}
    p
      label(for="imprint") Imprint:
      input(type="text" id="imprint" name="imprint" placeholder="Publisher and date information" value=(bookinstance === undefined ? "" : bookinstance.imprint))
    p
      label(for="due_back") Date when book available:
      input(type="date" id="due_back" name="due_back" value=(bookinstance === undefined ? "" : bookinstance.due_back_yyyy_mm_dd))
    p
      label(for="status") Status:
      select(id="status" name="status")
        option(value='Maintenance') Maintenance
        option(value='Available') Available
        option(value='Loaned') Loaned
        option(value='Reserved') Reserved
    p
      button(type="submit") Submit

  if errors
    ul
      for error in errors
        li !{error.msg}